In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Meteo').getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/12 13:45:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [3]:
# Wczytanie pliku csv
df_spark = spark.read.csv('open-meteo-52.52N13.42E38m.csv')

In [4]:
df_spark.show()

+----------+-----+--------------+
|       _c0|  _c1|           _c2|
+----------+-----+--------------+
|      date| time|temperature_2m|
|2023-12-12|00:00|           7.0|
|2023-12-12|01:00|           6.8|
|2023-12-12|02:00|           6.4|
|2023-12-12|03:00|           6.3|
|2023-12-12|04:00|           6.1|
|2023-12-12|05:00|           6.0|
|2023-12-12|06:00|           6.0|
|2023-12-12|07:00|           5.9|
|2023-12-12|08:00|          NULL|
|      NULL| NULL|           6.1|
|2023-12-12|10:00|           6.1|
|      NULL| NULL|          NULL|
|2023-12-12|12:00|           6.5|
|2023-12-12|13:00|           6.7|
|2023-12-12|14:00|           6.7|
|2023-12-12|15:00|           6.5|
|2023-12-12|16:00|           6.1|
|2023-12-12|17:00|           5.7|
|2023-12-12|18:00|           5.2|
+----------+-----+--------------+

In [5]:
# inferSchema=True zmienia string na typy danych

df_spark = spark.read.option('header', 'true').csv('open-meteo-52.52N13.42E38m.csv', inferSchema=True)
df_spark

+----------+-------------------+--------------+
|      date|               time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|          NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+
only showing top 20 rows

In [6]:
df_spark.show()

+----------+-------------------+--------------+
|      date|               time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|          NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+

In [7]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_spark.head(3)

[Row(date=datetime.date(2023, 12, 12), time=datetime.datetime(2023, 12, 12, 0, 0), temperature_2m=7.0),
 Row(date=datetime.date(2023, 12, 12), time=datetime.datetime(2023, 12, 12, 1, 0), temperature_2m=6.8),
 Row(date=datetime.date(2023, 12, 12), time=datetime.datetime(2023, 12, 12, 2, 0), temperature_2m=6.4)]

In [9]:
# schema
df_spark.printSchema()

root
 |-- date: date (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- temperature_2m: double (nullable = true)

In [10]:
df_spark.columns

['date', 'time', 'temperature_2m']

#### Wybór kolumny

In [11]:
df_spark.select('date').show()

+----------+
|      date|
+----------+
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|      NULL|
|2023-12-12|
|      NULL|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
|2023-12-12|
+----------+

In [12]:
type(df_spark.select('time'))

pyspark.sql.dataframe.DataFrame

In [13]:
df_spark.select(['date', 'temperature_2m']).show()

+----------+--------------+
|      date|temperature_2m|
+----------+--------------+
|2023-12-12|           7.0|
|2023-12-12|           6.8|
|2023-12-12|           6.4|
|2023-12-12|           6.3|
|2023-12-12|           6.1|
|2023-12-12|           6.0|
|2023-12-12|           6.0|
|2023-12-12|           5.9|
|2023-12-12|          NULL|
|      NULL|           6.1|
|2023-12-12|           6.1|
|      NULL|          NULL|
|2023-12-12|           6.5|
|2023-12-12|           6.7|
|2023-12-12|           6.7|
|2023-12-12|           6.5|
|2023-12-12|           6.1|
|2023-12-12|           5.7|
|2023-12-12|           5.2|
|2023-12-12|           4.5|
+----------+--------------+

In [14]:
type(df_spark.select(['date', 'temperature_2m']))

pyspark.sql.dataframe.DataFrame

In [16]:
df_spark['date']
# df_spark['date'].show()

TypeError: 'Column' object is not callable

In [17]:
df_spark.dtypes

[('date', 'date'), ('time', 'timestamp'), ('temperature_2m', 'double')]

In [18]:
df_spark.describe().show()

+-------+-----------------+
|summary|   temperature_2m|
+-------+-----------------+
|  count|              166|
|   mean| 5.23132530120482|
| stddev|2.512172919682535|
|    min|              0.2|
|    max|              9.5|
+-------+-----------------+

#### Dodawanie kolumny

In [19]:
df_spark.withColumn('Temperature rise 2 degrees', df_spark['temperature_2m'] + 2)

+----------+-------------------+--------------+--------------------------+
|      date|               time|temperature_2m|Temperature rise 2 degrees|
+----------+-------------------+--------------+--------------------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|                       9.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|                       8.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|                       8.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|                       8.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|                       7.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|                      NULL|
|      NULL|               NULL|           6.1|                       8.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|                       8.1|
|      NULL|               NULL|          NULL|                      NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|                       7.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|                       7.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|                       6.5|
+----------+-------------------+--------------+--------------------------+
only showing top 20 rows

In [20]:
df_spark.show()

+----------+-------------------+--------------+
|      date|               time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|          NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+

In [21]:
df_spark = df_spark.withColumn('Temperature rise 2 degrees', df_spark['temperature_2m'] + 2)
df_spark.show()

+----------+-------------------+--------------+--------------------------+
|      date|               time|temperature_2m|Temperature rise 2 degrees|
+----------+-------------------+--------------+--------------------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|                       9.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|                       8.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|                       8.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|                       8.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|                       7.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|                      NULL|
|      NULL|               NULL|           6.1|                       8.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|                       8.1|
|      NULL|               NULL|          NULL|                      NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|                       7.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|                       7.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|                       6.5|
+----------+-------------------+--------------+--------------------------+

#### Usuwanie kolumny

In [22]:
df_spark.drop('Temperature rise 2 degrees')
df_spark.show()

+----------+-------------------+--------------+--------------------------+
|      date|               time|temperature_2m|Temperature rise 2 degrees|
+----------+-------------------+--------------+--------------------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|                       9.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|                       8.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|                       8.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|                       8.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|                       8.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|                       7.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|                      NULL|
|      NULL|               NULL|           6.1|                       8.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|                       8.1|
|      NULL|               NULL|          NULL|                      NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|                       8.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|                       8.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|                       8.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|                       7.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|                       7.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|                       6.5|
+----------+-------------------+--------------+--------------------------+

In [23]:
df_spark = df_spark.drop('Temperature rise 2 degrees')
df_spark.show()

+----------+-------------------+--------------+
|      date|               time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|          NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+

#### Zmiana nazwy kolumny

In [24]:
df_spark = df_spark.withColumnRenamed('time', 'date-time')

In [25]:
df_spark.show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|          NULL|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+

In [26]:
# usuwanie wierszy z wartościami null
df_spark.na.drop().show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
|2023-12-12|2023-12-12 20:00:00|           4.1|
|2023-12-12|2023-12-12 21:00:00|           4.0|
|2023-12-12|2023-12-12 22:00:00|           3.9|
+----------+-------------------+--------------+

In [27]:
# usuwanie tylko te wiersze, gdzie wszystkie wartości są null
df_spark.na.drop(how='all').show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
|2023-12-12|2023-12-12 20:00:00|           4.1|
+----------+-------------------+--------------+

In [28]:
# usuwa wiersze gdzie jest null
df_spark.na.drop(how='any').show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
|2023-12-12|2023-12-12 20:00:00|           4.1|
|2023-12-12|2023-12-12 21:00:00|           4.0|
|2023-12-12|2023-12-12 22:00:00|           3.9|
+----------+-------------------+--------------+

In [29]:
# threshold (przynajmniej 2 wartości null)
df_spark.na.drop(how='any', thresh=2).show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
|2023-12-12|2023-12-12 20:00:00|           4.1|
|2023-12-12|2023-12-12 21:00:00|           4.0|
+----------+-------------------+--------------+

In [ ]:
# subset
df_spark.na.drop(how='any', thresh=1, subset=['temperature_2m']).show()

#### Uzupełnianie brakujących wartości

In [30]:
df_spark.na.fill(value=100, subset='temperature_2m').show()

+----------+-------------------+--------------+
|      date|          date-time|temperature_2m|
+----------+-------------------+--------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|
|2023-12-12|2023-12-12 08:00:00|         100.0|
|      NULL|               NULL|           6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|
|      NULL|               NULL|         100.0|
|2023-12-12|2023-12-12 12:00:00|           6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|
+----------+-------------------+--------------+

In [31]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCol='temperature_2m',
    outputCol='temperature_2m_imputed'
).setStrategy('mean')
imputer.fit(df_spark).transform(df_spark).show()

+----------+-------------------+--------------+----------------------+
|      date|          date-time|temperature_2m|temperature_2m_imputed|
+----------+-------------------+--------------+----------------------+
|2023-12-12|2023-12-12 00:00:00|           7.0|                   7.0|
|2023-12-12|2023-12-12 01:00:00|           6.8|                   6.8|
|2023-12-12|2023-12-12 02:00:00|           6.4|                   6.4|
|2023-12-12|2023-12-12 03:00:00|           6.3|                   6.3|
|2023-12-12|2023-12-12 04:00:00|           6.1|                   6.1|
|2023-12-12|2023-12-12 05:00:00|           6.0|                   6.0|
|2023-12-12|2023-12-12 06:00:00|           6.0|                   6.0|
|2023-12-12|2023-12-12 07:00:00|           5.9|                   5.9|
|2023-12-12|2023-12-12 08:00:00|          NULL|      5.23132530120482|
|      NULL|               NULL|           6.1|                   6.1|
|2023-12-12|2023-12-12 10:00:00|           6.1|                   6.1|
|      NULL|               NULL|          NULL|      5.23132530120482|
|2023-12-12|2023-12-12 12:00:00|           6.5|                   6.5|
|2023-12-12|2023-12-12 13:00:00|           6.7|                   6.7|
|2023-12-12|2023-12-12 14:00:00|           6.7|                   6.7|
|2023-12-12|2023-12-12 15:00:00|           6.5|                   6.5|
|2023-12-12|2023-12-12 16:00:00|           6.1|                   6.1|
|2023-12-12|2023-12-12 17:00:00|           5.7|                   5.7|
|2023-12-12|2023-12-12 18:00:00|           5.2|                   5.2|
|2023-12-12|2023-12-12 19:00:00|           4.5|                   4.5|
+----------+-------------------+--------------+----------------------+

In [32]:
imputer = Imputer(
    inputCols=['date', 'temperature_2m'],
    outputCols=[f'{c}_imputed' for c in ['date', 'temperature_2m']]
).setStrategy('mean')
imputer.fit(df_spark).transform(df_spark).show()

IllegalArgumentException: requirement failed: Column date must be of type numeric but was actually of type date.

In [33]:
spark.stop()